<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/task
	                     http://www.springframework.org/schema/task/spring-task.xsd">

   <!-- 自动扫描  @Controller-->
   <context:component-scan base-package="com.weixin.ssm.controller"/>
   <!-- 使用注解 -->
   <mvc:annotation-driven />

   <!--视图配置start-->
   <!--配置Jsp视图解析器-->
   <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/"/>
      <property name="suffix" value=".jsp"/>
      <property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView" />
      <property name="order" value="1"/>
   </bean>

   <!-- 配置freeMarker视图解析器 -->
   <bean id="ftlViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
      <property name="contentType" value="text/html; charset=utf-8"/>
      <property name="cache" value="false" />
      <!--开发环境下为false, 线上环境是true, 避免所有缓存-->
      <property name="suffix" value=".html" />
      <property name="order" value="0"/>
      <property name="requestContextAttribute" value="request"/><!--设置request，ftl模板中可以直接使用-->
   </bean>

   <!-- 配置freeMarker的模板路径 -->
   <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
      <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
      <property name="defaultEncoding" value="utf-8" />
      <property name="freemarkerVariables">
         <map>
            <entry key="xml_escape" value-ref="fmXmlEscape" />
         </map>
      </property>
      <property name="freemarkerSettings">
         <props>
            <!--template_update_delay 为0 ，因此每次在刷新 free marker页面时，均会进行修改时间 的校验，判断是否应该重新载-->
            <prop key="template_update_delay">0</prop>
         </props>
      </property>
   </bean>
   <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>
   <!--视图配置end-->

   <!--其他配置start-->
   <!-- 对静态资源文件的访问 方案二 （二选一） -->
   <mvc:resources mapping="/images/**" location="/resources/images/"
                  cache-period="31556926" />
   <mvc:resources mapping="/js/**" location="/resources/js/"
                  cache-period="31556926" />
   <mvc:resources mapping="/css/**" location="/resources/css/"
                  cache-period="31556926" />

   <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
   <bean id="mappingJacksonHttpMessageConverter"
         class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
      <property name="supportedMediaTypes">
         <list>
            <value>text/html;charset=UTF-8</value>
         </list>
      </property>
   </bean>
   <!-- 文件上传配置 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
      <!-- 默认编码 -->
      <property name="defaultEncoding" value="UTF-8"/>
      <!-- 上传文件大小限制为31M，31*1024*1024 -->
      <property name="maxUploadSize" value="32505856"/>
      <!-- 内存中的最大值 -->
      <property name="maxInMemorySize" value="4096"/>
   </bean>
   <!--spring定时器配置-->
   <task:annotation-driven /> <!-- 定时器开关-->
   <context:component-scan base-package="com.weixin.common.task"></context:component-scan>
   <!--其他配置end-->

</beans>