.am-share {
   background: #fff;
   font-size: 0.8rem;
   border-radius: 0;
   bottom: 0;
   left: 0;
   position: fixed;
   display: none;
   width: 100%;
   z-index: 1110;
}

.am-modal-active {
   display: block;
}

.am-modal-out {
   z-index: 1109;
   display: none;
}

.am-share-title {
   position: relative;
   height: 5rem;
   padding-left: 7rem;
   border-bottom: 1px solid #eee;
}

.am-share-title img {
   position: absolute;
   top: -1.2rem;
   left: 0.2rem;
}

.am-share-title span {
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;
   position: absolute;
   top: 0.26rem;
   right: 0.15rem;
   background: url(../images/thingDetail/del.png) no-repeat center center;
   background-size: 1.5rem 1.5rem;
}

.sharebg {
   background-color: rgba(0, 0, 0, 0.6);
   bottom: 0;
   height: 100%;
   left: 0;
   opacity: 0;
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   z-index: 1100;
   display: none;
}

.sharebg-active {
   opacity: 1;
   display: block;
}




