

body.modal-open {
    position: fixed;
    width: 100%;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal-frame {
    position: fixed;
    display: none;
    left:15%;
    right:15%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    /*padding: 0.5rem;*/
    z-index: 99999;
    border-radius:0.8rem;
    height: 50%;
}

.modal-frame-header {
    width:100%;
    position: relative;
    /*height: 10%;*/
    border-bottom:1px solid #eeeeee;
}

.modal-frame-header .titleText {
    text-align: center;
    font-size: 1.8rem;
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/
    /*background-color: #999A9B;*/
}

.modal-frame-header .closeBtn {
    position: absolute;
    width:3rem;
    height:3rem;
    top:-1.5rem;
    right: -1.5rem;
    /*border:1px solid #000;*/
    background-color: #eeeeee;
    border-radius:3rem;
    font-size: 2.8rem;
    text-align: center;
}



.modal-frame-content {
    position: relative;
    /*height:80%;*/
    max-height: 80%;
    overflow-y:auto;
    padding-left: 1.5rem;
    padding-rightt: 1.5rem;
}

.modal-frame-content hr{
    height:1px;
    border:none;
    background-color: #eeeeee;
}


.modal-frame-footer {
    text-align: center;
    height:10%;
    font-size: 2rem;
}